# Course: Health Care Analytics

# Author : Aditya Kasturi 

<b> Homework# - I </b>

<b>Abstract :</b>

There are 76 attributes in the Heart Disease Data Set, however only 14 of them are used in all published trials. To yet, the Cleveland database has been the only one that ML researchers have utilized to conduct their studies. The presence of heart illness in the patient is indicated by the "target" field. It has an integer value ranging from 0 (no presence) to 4, with 0 being the default. Most of the Cleveland database experiments have been focused on attempting to distinguish between presence (values 1, 2, 3, 4) and absence (values 0). (values 0). (In this case, the value is 0). Therefore, this assignment can be described as a problem of binary classification, as shown in the diagram.

<b> Dataset : </b>
https://archive.ics.uci.edu/ml/datasets/Heart+Disease

In [1]:
#Libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
get_ipython().run_line_magic('matplotlib', 'inline')

In [2]:
df = pd.read_csv("processed.cleveland.data", header = None)

In [3]:
def replace_question_mark(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].replace('?', np.nan)

replace_question_mark(df)

In [4]:
#Naming The Columns
df.columns = ['age', 'sex','cp','trestbps','chol','fbs', 'restecg', 'thalach', 'exang', 'oldpeak' , 'slope', 'ca','thal','heart_failure']

In [5]:
df['heart_failure'] =np.where(df['heart_failure'] >0, 1, 0)

In [6]:
# Labeling the categorical columns
df.sex = df.sex.astype('category')
df.cp = df.cp.astype('category')
df.fbs = df.fbs.astype('category')
df.restecg = df.restecg.astype('category')
df.slope = df.slope.astype('category')
df.exang = df.exang.astype('category')
df.thal = df.thal.astype('category')
df.heart_failure = df.heart_failure.astype('category')

In [7]:
# Labeling the numerical column
df.age = df.age.astype('float64')
df.trestbps = df.trestbps.astype('float64')
df.thalach = df.thalach.astype('float64')
df.oldpeak = df.oldpeak.astype('float64')
df.ca = df.ca.astype('float64')

Displaying the data

In [8]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heart_failure
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

Describing data in terms of numerical features in order to determine different statistical values

In [9]:
df.describe()

              age    trestbps        chol     thalach     oldpeak          ca
count  303.000000  303.000000  303.000000  303.000000  303.000000  299.000000
mean    54.438944  131.689769  246.693069  149.607261    1.039604    0.672241
std      9.038662   17.599748   51.776918   22.875003    1.161075    0.937438
min     29.000000   94.000000  126.000000   71.000000    0.000000    0.000000
25%     48.000000  120.000000  211.000000  133.500000    0.000000    0.000000
50%     56.000000  130.000000  241.000000  153.000000    0.800000    0.000000
75%     61.000000  140.000000  275.000000  166.000000    1.600000    1.000000
max     77.000000  200.000000  564.000000  202.000000    6.200000    3.000000

<b> TASK 1 </b>

Checking the data for missing values and removing the rows which includes the missing data

In [10]:
print(df.shape)
df.dropna(inplace=True)
print(df.shape)

(303, 14)
(297, 14)

<b> TASK 2 </b>

* Split the data inro feature vector and raget vector 
* Standardize all feature columns to have a mean of 0 and a standard deviation of 1.

In [11]:
X = df.iloc[:, :-1]
y = df.iloc[:, df.columns == 'heart_failure']

In [12]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X[X.columns] = sc_X.fit_transform(X)

In [13]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.936181,0.691095,-2.240629,0.750380,-0.276443,2.430427,1.010199,0.017494,-0.696419,1.068965,2.264145,-0.721976,0.655877
1,1.378929,0.691095,0.873880,1.596266,0.744555,-0.411450,1.010199,-1.816334,1.435916,0.381773,0.643781,2.478425,-0.894220
2,1.378929,0.691095,0.873880,-0.659431,-0.353500,-0.411450,1.010199,-0.899420,1.435916,1.326662,0.643781,1.411625,1.172577
3,-1.941680,0.691095,-0.164289,-0.095506,0.051047,-0.411450,-1.003419,1.633010,-0.696419,2.099753,2.264145,-0.721976,-0.894220
4,-1.498933,-1.446980,-1.202459,-0.095506,-0.835103,-0.411450,1.010199,0.978071,-0.696419,0.295874,-0.976583,-0.721976,-0.894220

<b> TASK 3 </b>

* Logistic Regression Model with 10 folds cross validation

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score, confusion_matrix, recall_score, precision_score, roc_curve, auc, f1_score, roc_auc_score

kf = KFold(n_splits=10)

accuracy = []
sensitivity = []
specificity = []
gmean = []
f1 = []

for train_index, test_index in kf.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    model = LogisticRegression()
    model.fit(X_train, y_train.values.ravel())
    y_pred = model.predict(X_test)
    
    accuracy.append(accuracy_score(y_test, y_pred))
    sensitivity.append(recall_score(y_test, y_pred))
    specificity.append(confusion_matrix(y_test, y_pred)[0,0]/(confusion_matrix(y_test, y_pred)[0,0] + confusion_matrix(y_test, y_pred)[0,1]))
    gmean.append(np.sqrt(recall_score(y_test, y_pred) * specificity[-1]))
    f1.append(f1_score(y_test, y_pred))

    
print('******LOGISTIC REGRESSION*************')    
print('Accuracy:', np.mean(accuracy))
print('Sensitivity:', np.mean(sensitivity))
print('Specificity:', np.mean(specificity))
print('G-mean:', np.mean(gmean))
print('F1 Score:', np.mean(f1))

******LOGISTIC REGRESSION*************
Accuracy: 0.8316091954022988
Sensitivity: 0.7940520590520591
Specificity: 0.8628227431323406
G-mean: 0.8221853737481325
F1 Score: 0.8107249109002265

* SVm Model with 10 folds cross validation along with Grid Search CV for best hyperparameter

In [17]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

kf = KFold(n_splits=10)

accuracy = []
sensitivity = []
specificity = []
gmean = []
f1 = []

for train_index, test_index in kf.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    model = SVC()
    parameters = {'kernel': ['linear', 'rbf'], 'C': [1, 10]}
    clf = GridSearchCV(model, parameters, cv=10)
    clf.fit(X_train, y_train.values.ravel())
    y_pred = clf.predict(X_test)
    
    accuracy.append(accuracy_score(y_test, y_pred))
    sensitivity.append(recall_score(y_test, y_pred))
    specificity.append(confusion_matrix(y_test, y_pred)[0,0]/(confusion_matrix(y_test, y_pred)[0,0] + confusion_matrix(y_test, y_pred)[0,1]))
    gmean.append(np.sqrt(recall_score(y_test, y_pred) * specificity[-1]))
    f1.append(f1_score(y_test, y_pred))
    
print('*******SVM********')
print('Accuracy:', np.mean(accuracy))
print('Sensitivity:', np.mean(sensitivity))
print('Specificity:', np.mean(specificity))
print('G-mean:', np.mean(gmean))
print('F1 Score:', np.mean(f1))

*******SVM********
Accuracy: 0.824367816091954
Sensitivity: 0.7570668220668221
Specificity: 0.8829762519042704
G-mean: 0.8114259773255565
F1 Score: 0.7937034594590816

<b> TASK 4 </b>

The sequential feature selection strategy should be used while running the model for both Logistic Regression and SVM.

In [19]:
from sklearn.feature_selection import RFE

accuracy = []
sensitivity = []
specificity = []
gmean = []
f1 = []

for train_index, test_index in kf.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    
    rfe = RFE(estimator=LogisticRegression(), n_features_to_select=10)
    rfe = rfe.fit(X_train, y_train.values.ravel())
    y_pred = rfe.predict(X_test)
    
    accuracy.append(accuracy_score(y_test, y_pred))
    sensitivity.append(recall_score(y_test, y_pred))
    specificity.append(confusion_matrix(y_test, y_pred)[0,0]/(confusion_matrix(y_test, y_pred)[0,0] + confusion_matrix(y_test, y_pred)[0,1]))
    gmean.append(np.sqrt(recall_score(y_test, y_pred) * specificity[-1]))
    f1.append(f1_score(y_test, y_pred))
    
print('***********LOGISTIC REGRESSION*****************************')
print('Accuracy:', np.mean(accuracy))
print('Sensitivity:', np.mean(sensitivity))
print('Specificity:', np.mean(specificity))
print('G-mean:', np.mean(gmean))
print('F1 Score:', np.mean(f1))

***********LOGISTIC REGRESSION*****************************
Accuracy: 0.8350574712643679
Sensitivity: 0.801788073038073
Specificity: 0.8628227431323406
G-mean: 0.8270831191707373
F1 Score: 0.8176392827602506

In [20]:
from sklearn.feature_selection import RFE

accuracy = []
sensitivity = []
specificity = []
gmean = []
f1 = []

for train_index, test_index in kf.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    model = SVC(kernel='linear')
    rfe = RFE(estimator=SVC(kernel='linear'), n_features_to_select=10)
    rfe = rfe.fit(X_train, y_train.values.ravel())
    y_pred = rfe.predict(X_test)
    
    accuracy.append(accuracy_score(y_test, y_pred))
    sensitivity.append(recall_score(y_test, y_pred))
    specificity.append(confusion_matrix(y_test, y_pred)[0,0]/(confusion_matrix(y_test, y_pred)[0,0] + confusion_matrix(y_test, y_pred)[0,1]))
    gmean.append(np.sqrt(recall_score(y_test, y_pred) * specificity[-1]))
    f1.append(f1_score(y_test, y_pred))
    
print('***************Support Verctor Machine****************')
print('Accuracy:', np.mean(accuracy))
print('Sensitivity:', np.mean(sensitivity))
print('Specificity:', np.mean(specificity))
print('G-mean:', np.mean(gmean))
print('F1 Score:', np.mean(f1))

***************Support Verctor Machine****************
Accuracy: 0.8282758620689655
Sensitivity: 0.7738597513597514
Specificity: 0.877093898963094
G-mean: 0.8192886116614281
F1 Score: 0.8027680897877252

<b> TASK 5 </b>

1. Logistic Regression outperformed SVM in Part 3 and 4.
2. With feature selection of the ten most relevant characteristics, SVM and Logistic Regression in part 4 perform significantly better than in part 3 across all performance criteria.